@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@1,500&display=swap');
body {
    margin: 0;
    background-image: url('/images/dark2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Merriweather Sans', 'sans-serif';
    /* background-image: linear-gradient(to right, #032e3f, #0f0f55, #010127); */
}

.holders {
    display: flex;
    align-items: center;
    list-style: none;
    text-decoration: none;
    justify-content: space-around;
    color: white;
}

.hold {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
    align-items: center;
    color: white;
}

.hold li {
    margin: 10px;
}

.hold2 {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
    align-items: center;
}

.hold2 li {
    margin: 10px;
}

.hold2 a {
    padding: 10px;
    color: white;
    border-radius: 15px;
    background-image: linear-gradient(to right, #4e4ee9, #ee52ee);
    text-decoration: none;
}

.second {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.second h1 {
    font-size: 3rem;
    background: linear-gradient(to right, #4e4ee9, #ee52ee);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

.second p {
    color: white;
}

.second a {
    padding: 15px;
    border-radius: 10px;
    background-image: linear-gradient(to right, #4e4ee9, #ee52ee);
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

#texting p {
    margin-bottom: 50px;
}

#social {
    writing-mode: vertical-lr;
    text-orientation: mixed;
}

#social span {
    margin-top: 5px;
}

.third h1,
.fourth h1 {
    margin-left: 80px;
}

.thirds-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.thirds-content div {
    width: 200px;
    height: 220px;
    margin: auto 23px auto 23px;
    border-radius: 25px;
    background-color: rgba(22, 48, 105, 0.705);
    overflow: hidden;
}

.thirds-content div img {
    border-radius: 25px;
    width: 120px;
    height: 120px;
    margin: 30px 40px auto 40px;
    -webkit-box-reflect: below 0 -webkit-gradient(linear, right top, right bottom, from(transparent), color-stop(50%, transparent), to(rgba(228, 117, 117, 0.5)));
}

.container {
    margin: 100px auto !important;
}

.fourth-content-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    margin-bottom: 2%;
}

.fourth-content-1 .left {
    width: 60%;
    background-color: aquamarine;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.fourth-content-1 .left .left-1 {
    width: 40%;
    padding: 5%;
}

.fourth-content-1 .left .left-1 a {
    text-decoration: none;
    margin-bottom: 40px;
    width: 40px;
    background-color: azure;
    padding: 10px;
    border-radius: 25px;
    color: black;
}

.fourth-content-1 .left .left-1 h1 {
    margin-left: -5px;
    margin-top: 100px;
}

.fourth-content-1 .right {
    width: 40%;
}

.fourth-content-1 .left .left-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 60%;
}

#img1 {
    margin-top: -110px;
    border-radius: 10px;
}

#img2 {
    margin-bottom: -110px;
    border-radius: 10px;
}

.fourth-content-1 .right {
    background-color: lightpink;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    border-radius: 20px;
    padding-left: 4%;
    padding-top: 1.2%;
    padding-right: 4%;
}

.fourth-content-1 .right a {
    width: 90px;
    text-decoration: none;
    padding: 10px;
    border-radius: 25px;
    background-color: aliceblue;
}

#right-middle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

#right-middle .small {
    width: 110px;
    height: 100px;
}

#right-middle .large {
    width: 140px;
    height: 120px;
}

.fourth-content-1 .right h1 {
    margin-left: -6px;
    margin-bottom: 1px;
}

.fourth-content-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    margin-bottom: 2%;
}

.fourth-content-2 .left {
    background-color: burlywood;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 20px;
    padding-left: 4%;
    padding-top: 1.2%;
    padding-right: 4%;
}

.fourth-content-2 .left a {
    text-decoration: none;
    width: 70px;
    padding: 10px;
    color: black;
    margin-left: -5px;
    background-color: white;
    border-radius: 25px;
}

.fourth-content-2 .left div {
    align-self: center;
    margin-bottom: -3px;
}

.fourth-content-2 .left h1 {
    margin-left: -6px;
    margin-bottom: 1px;
}

.fourth-content-2 .right {
    width: 55%;
    margin-left: 2%;
    background-color: #cc73cc;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 1.4%;
}

.fourth-content-2 .right a {
    background-color: white;
    padding: 10px;
    text-decoration: none;
    color: black;
    margin-bottom: 3%;
    border-radius: 25px;
    width: 80px;
}

#profiles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#profiles img {
    border-radius: 50%;
    margin-bottom: 3%;
    border: 2px solid #130080;
}

.fourth-content-2 .right h1 {
    margin-left: -8px;
}